// /* In your global stylesheet or component-specific CSS */
// .customized-card {
//     background-color: #e0e0e0;
//     font-size: 16px;
//     padding: 20px;
//     /* Customize width here. Example: */
//     max-width: 400px;
//   }
  
//   .card-container {
//     /* Center the card horizontally */
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     /* Optional: Add vertical centering if needed */
//     height: 100vh;
//   }
//   .body {
//     background-image: url(../../../assets/cover3.jpg);
//     background-size: cover;
//     background-position: center;
// }


.mat-mdc-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    background: rgba(0,0,0,0.1);
    
  }
  
  .mat-mdc-card-avatar{
    width: 100px;
    height: 100px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 80px;
  }
  
  .mat-mdc-card-title{
  justify-content: center;
  text-align: center;
  text-decoration: solidS;    
  
  }
  .container:after {  /* Target outer container element for background */
    content: "";
    background-image: url("../../assets/cover3.jpg");  background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;  /* Place behind content */
  }
  
  