<div class = "container">
    <mat-card>
      <mat-card-title style="color: yellow;">
        <h1>Register Here</h1>
      </mat-card-title>
      <img mat-card-avatar src="../../assets/manappuram-finance--600.png" alt="Manappuram Finance">
      <mat-card-content>
        <form [formGroup]="regForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <mat-form-field appearance="outline" required>
              <mat-label style="color:#ff5400;">username</mat-label>
              <input matInput formControlName="username" placeholder="Username">
              <mat-icon matSuffix icon style="color: aqua;">person</mat-icon>
              <mat-error *ngIf="regForm.get('username')?.errors"> Username is required.
              </mat-error>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input type="email" matInput formControlName="useremail" placeholder="232@manappuram.com">
                <mat-icon matSuffix icon style="color:aqua;">mail</mat-icon>
                <mat-error *ngIf="regForm.get('email')?.errors">Email is required</mat-error>

            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field appearance="outline" required>
              <mat-label style="color:#ff5400;">Password</mat-label>
              <input matInput type="password" formControlName="password" placeholder="Password">
              <mat-icon matSuffix icon style="color: aqua;">lock</mat-icon>
              <mat-error *ngIf="regForm.get('password')?.errors"> Password is required.
              </mat-error>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field appearance="outline" required>
              <mat-label>Role</mat-label>
              <mat-select formControlName="role" required>
                <mat-option *ngFor="let role of roles" [value]="role">
                  {{ role }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="regForm.get('role')?.errors"> Role is required.
              </mat-error>
            </mat-form-field>
          </div>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" [disabled]='!regForm.valid' (click)="onSubmit()">regForm</button>
      </mat-card-actions>
    </mat-card>
  </div>
